{% extends "mainApp/header.html" %}
{% load i18n %}



{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}
<header class="header-lav text-white" id="page-top">
  <div class="container text-center" >
    <img style="width: 100%; height: 200%;" src="../static/img/logo.svg" alt="Sketchpass">
    <p class="lead">Better Safe Than Sorry</p>
    <p>{% trans "Activation link is invalid.  To get a new activation click the link below to go to the page where an email will be resent." %}</p>

    <p><a href="/resend-confirmation/">{% trans 'Reset Form' %}</a></p>
    </div>
   <!-- <h1 style=font-size:85px> Sketchpass</h1> --->
</header>



{% endblock %}
