{% block content %}

{% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible" id=message-alert role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>

  <script>
      $("#message-alert").hide();
        $("#message-alert").fadeTo(2000, 500).slideUp(500, function(){
          $("#message-alert").slideUp(500);
            });
  </script>
{% endfor %}


{% endblock %}
