{% extends "mainApp/header.html" %}
{% load i18n %}


{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <header class="header-gr1 text-white" id="page-top">
      <div class="container text-center" >
        <img style="width: 100%; height: 100%;" src="../../../static/img/logo.svg" alt="Sketchpass">
        <p class="lead">Better Safe Than Sorry</p>
        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

        <form method="POST" action="{% url 'reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="{% trans 'Reset My Password' %}" />
        </form>
        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
          </div>
         <!-- <h1 style=font-size:85px> Sketchpass</h1> --->
      </header>

{% endblock %}
