{% extends "mainApp/header.html" %}
{% load i18n static %}



{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}
<!-- drawingbox.html --->
<nav class="navbar navbar-expand-lg navbar-dark nav-index fixed-top" id="mainNav">
  <a class="navbar-brand js-scroll-trigger" href="">Sketchpass</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  {% block breadcrumbs %}
  <div class="breadcrumbs">
  <a href="/">{% trans 'Home' %}</a>
  &rsaquo; {% trans 'Password reset' %}
  </div>
  {% endblock %}

</nav>
<<section>



{% if validlink %}

<p>{% trans "Please enter your new password." %}</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-password1">
        {{ form.new_password1.errors }}
        <label for="id_new_password1">{% trans 'New password:' %}</label>
        {{ form.new_password1 }}
    </div>
    <div class="form-row field-password2">
        {{ form.new_password2.errors }}
        <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
        {{ form.new_password2 }}
    </div>
    <input type="submit" value="{% trans 'Change my password' %}">
</fieldset>
</form>
</section>
{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
