{% block content %}

	<div class="btn-group-vertical btn-group-toggle" data-toggle="buttons" id = "colors-box">
	  <label class="btn active colors-box" for="option1">		&nbsp
	    <input type="radio" name="options" id="option1" autocomplete="off" checked> 
	  </label>
	  <label class="btn  colors-box" for="option2">
	    <input type="radio" name="options" id="option2" autocomplete="off"> &nbsp
	  </label>
	  <label class="btn colors-box" for="option3">
	    <input type="radio" name="options" id="option3" autocomplete="off"> &nbsp
	  </label>
	  <label class="btn colors-box" for="option4">
	    <input type="radio" name="options" id="option4" autocomplete="off"> &nbsp
	  </label>
	  <label class="btn colors-box" for="option5">
	    <input type="radio" name="options" id="option5" autocomplete="off"> &nbsp
	  </label>
	  <label class="btn colors-box" for="option6">
	    <input type="radio" name="options" id="option6" autocomplete="off"> &nbsp
	  </label>
	  <label class="btn colors-box" for="option7">
	    <input type="radio" name="options" id="option7" autocomplete="off"> &nbsp
	  </label>
	  <label class="btn colors-box" for="option8">
	    <input type="radio" name="options" id="option8" autocomplete="off"> &nbsp
	  </label>
	  <label class="btn colors-box" for="option9">
	    <input type="radio" name="options" id="option9" autocomplete="off"> &nbsp
	  </label>
	  	<label class=" btn colors-box" for="clear"  onclick="clearAll()">
			<input type="radio" name="clearbutton" id="clear" autocomplete="off"> Clear All
		</label>	
	</div>


{% endblock %}

