{% extends "mainApp/header.html" %}

{% block content %}

<!-- Navigation Bar --->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">SketchPass</a>
      <ul class="navbar-nav mr-auto">
    </ul>
    <ul style="list-style-type:none">
    </ul>

  <a href="/" class="nav-link active"><button class="btn btn-primary my-2 my-sm-0">Account Settings</button></a>
  <a href="/" class="nav-link active"><button class="btn btn-primary my-2 my-sm-0">Log Out</button></a>



</nav>

<div class="container">
<br>
    <nav class="navbar navbar-expand-md navbar-light bg-light stick-top nav-custom">
    <!--<a class="navbar-brand" href="#">SketchPass</a>--->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        </li>
        <li class="nav-item">
          <a href="/home/add" class="nav-link active"><button class="btn btn-primary my-2 my-sm-0">Add New</button></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><button class="btn btn-success">Sort By</button>
          </a>

          <form id="sort-form" method="POST" action="">
            {% csrf_token %}
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <button class="dropdown-item" id="a-z" type="submit" name="a-z">Sort (A-Z)</button>
              <button class="dropdown-item" id="category" type="submit" name="category">Category</button>
              <button class="dropdown-item" id="created" type="submit" name="created">Date Created</button>
            </div>
          </form>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0"  method="GET">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="search">Search...</button>
      </form>
    </div>

  </nav>
</div>




<!-- Middle Header --->

<div class="container" >

            <h5 class=" passwords-header-h5 text-center p-3 bg-dark text-white">Home</h5>

<!-- Middle Cards --->

  <div class="container-fluid card-columns text-center card-container-custom card-deck " id="website-card-deck">

    {% if websites %}

      {% if state == 1 %}
        {% for website in websites|dictsort:"websiteName" %}
          {% include 'home/includes/cardtemplate.html' with website_id=website.id desc=website.desc username=website.username category=website.category name=website.websiteName url=website.urlNAME  %}
        {% endfor %}
      {% elif state == 2 %}
        {% for website in websites|dictsort:"category" %}
         {% include 'home/includes/cardtemplate.html' with website_id=website.id desc=website.desc username=website.username category=website.category name=website.websiteName url=website.urlNAME  %}
        {% endfor %}
      {% else %}
        {% for website in websites%}
         {% include 'home/includes/cardtemplate.html' with website_id=website.id desc=website.desc username=website.username password=website.password category=website.category name=website.websiteName url=website.urlNAME  %}
        {% endfor %}
      {% endif %}
    {% else %}
     <div class="text-center">No websites yet! Make one now!</div>
    {% endif %}

  </div>
</div>

{% endblock %}
