{% extends "mainApp/header.html" %}

{% block content %}

<!-- Navigation Bar ---> 

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">SketchPass</a>
      <ul class="navbar-nav mr-auto">
    </ul>


</nav> 

<div class="container">
<br>
    <nav class="navbar navbar-expand-md navbar-light bg-light stick-top nav-custom">
    <!--<a class="navbar-brand" href="#">SketchPass</a>--->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Status <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort Category
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Sort (A-Z)</a>
            <a class="dropdown-item" href="#">Most Recent</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Date Created</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">TBA</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search...</button>
      </form>
    </div>

  </nav>
</div>




<!-- Middle Header --->

<div class="container" >

            <h5 class="  text-center p-3 bg-dark text-white" id = "passwords-header-h5">Passwords</h5>

<!-- Middle Cards --->

  <div class="container-fluid card-columns text-center card-container-custom"   >

    {% if website %}

    {% for website in website %}
    <div class="card text-center" style="width: 18rem;">
    <div class="card text-white bg-dark mb-3" style="width: 18rem;">

      <div class="card-body">
        <h5 class="card-title">
        <li> {{website.websiteName}}
      </h5>
        <h6 class="card-subtitle mb-2 text-muted">Misc.</h6>
          <li> {{website.password}}</li>
        <p class="card-text">{{website.desc}}</p>
        <a href="#" class="card-link">  <li>{{website.urlNAME }}</li></a>


        <!-- possible other link --->
        <!--<a href="#" class="card-link">link</a> --->

    </div>
    </div>
    </div>

    {% endfor %}
    {% else %}
      <li>Sorry, no Passwords in this list.</li>
    {% endif %}

    
<div class="card text-white bg-dark mb-3 text-center" style="width: 18rem;">
  
  <div class="card-body">
    <h5 class="card-title">
    Website Name
  </h5>
    <h6 class="card-subtitle mb-2 text-muted">Misc.</h6>
    <p class="card-text">Description</p>
    <a href="/home/add" class="card-link">ADD NEW WEBSITE</a>

    <!-- possible other link --->
    <!--<a href="#" class="card-link">link</a> --->
  </div>
</div>




</div>

  </div>
</div>




{% endblock %}