{% extends "mainApp/header.html" %}

{% block content %}

<!-- Navigation Bar ---> 

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">SketchPass</a>
      <ul class="navbar-nav mr-auto">
    </ul>


</nav> 

<div class="container">
<br>
    <nav class="navbar navbar-expand-md navbar-light bg-light stick-top nav-custom">
    <!--<a class="navbar-brand" href="#">SketchPass</a>--->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        </li>
        <li class="nav-item">
          <a href="/home/add" class="nav-link active"><button class="btn btn-primary my-2 my-sm-0">Add New</button></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><button class="btn btn-success">Sort Category</button>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Sort (A-Z)</a>
            <a class="dropdown-item" href="#">Most Recent</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Date Created</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search...</button>
      </form>
    </div>

  </nav>
</div>




<!-- Middle Header --->

<div class="container" >

            <h5 class=" passwords-header-h5 text-center p-3 bg-dark text-white">Home</h5>

<!-- Middle Cards --->

  <div class="container-fluid card-columns text-center card-container-custom"   >

    {% if website %}

    {% for website in website %}
      {% include 'home/includes/cardtemplate.html' with desc=website.desc category=website.category name=website.websiteName url=website.urlNAME  %}
        
         <!--  {{website.password}} --->

    {% endfor %}
    {% else %}
      <li>Sorry, no Passwords in this list.</li>
    {% endif %}


</div>

  </div>
</div>




{% endblock %}