<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>pwgen</title>
</head>
<body>

<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#pwgenmodal">Generate Password</button>

    <div class="modal fade" id='pwgenmodal' tabindex="-1" aria-labelledby="pwgenmodallabel" aria-hidden="true">
        <div class="modal-dialog" >
            <div class="modal-content text-center">

                <div class="modal-header">
                    <h4 class="modal-title" id="ModalLabel">Password Generation Options</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>

            <div class="modal-body">
                <div class="text-center">
                    <label>All character types chosen by default. Uncheck a option if it is not desired in the password generation</label>
                    <br><br>
                </div>

                    <button type="button" class="btn btnsizer btn-lg btn-dark active" onclick="getid(this.id);" id="uppcase" data-toggle="button" aria-pressed="true" value="true" autocomplete="on">✔ Uppercase Letters - ABC</button>
                    <br><br>

                    <button type="button" class="btn btnsizer btn-lg btn-dark active" onclick="getid(this.id);" id="lowcase" data-toggle="button" aria-pressed="true" value="true" autocomplete="on">✔ Lowercase Letters - abc</button>
                    <br><br>

                    <button type="button" class="btn btnsizer btn-lg btn-dark active" onclick="getid(this.id);" id="numcase" data-toggle="button" aria-pressed="true" value="true" autocomplete="on">✔ Numbers - 123</button>
                    <br><br>

                    <button type="button" class="btn btnsizer btn-lg btn-dark active" onclick="getid(this.id);" id="symcase" data-toggle="button" aria-pressed="true" value="true" autocomplete="on">✔ Symbols - %@^</button>
                    <br><br>

            </div>

                <label>Password length: <span id="plength">50</span> characters</label>
                <div class="slidecontainer">
                    <input type="range" min="1" max="100" value="50" step="1" class="slider" oninput="sliderupdate();" id="passlength">
                </div>

                <div class="col-auto">
                    <label>Current generated password</label>
                    <input class="form-control" type="text" placeholder="Current Password" id ="password-input">
                </div>  
            
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning"  onclick="pwgeneration()" value="generate password" id='genpassword' >Generate Password</button>
                    <button type="button" class="btn btn-primary"  onclick=" submitpw()" value="generate password" id='pwgenoutput' >Use This Password</button>
                    <br>
                </div>
            </div>
        </div>
    </div>
</body >
</html >
 