<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>pwgen</title>
    <link href="css/main.css" rel="stylesheet" />
</head>
<body>
    <script src="js/pwgen.js"></script>

    <button id="myBtn">Generate password</button>

    <div id="passModal" class="pwmodal">
        <div class="pwmodal-content">
            <span class="pwclose">&times;</span>

            <h3>Password Generation Options</h3>

            <label> uppercase letters </label>
            <input type="checkbox" id='uppcase' name="uppercase checkbox" checked="checked" value="1">

            <label> lowercase letters </label>
            <input type="checkbox" id='lowcase' name="lowercase checkbox" checked="checked" value="1">

            <label> numbers </label>
            <input type="checkbox" id='numcase' name="numbercase checkbox" checked="checked" value="1">

            <label> symbols </label>
            <input type="checkbox" id='symcase' name="symbolcase checkbox" checked="checked" value="1">
            <br>

            <label>Password length (between 1 and 100 in length):</label>
            <input type="number" id='strlength' name="string length" placeholder="input length here" min="1" max="100" step="1">
            <br>
            <input class="form-control" type="text" placeholder="Current Password" id ="password-input">
            <button type="button" class="btn btn-secondary"  onclick="pwgeneration()" value="generate password" id="pwgenoutput" >Generate Password</button>
            <button type="button" class="btn btn-primary"  onclick=" submitpw()" value="generate password" id="pwgenoutput" >Use Password</button>
            <br>

        </div>
    </div>
    <script>
        var modal = document.getElementById('passModal');
        var btn = document.getElementById("myBtn");
        var span = document.getElementsByClassName("pwclose")[0];

        btn.onclick = function () { modal.style.display = "block"; }
        span.onclick = function () { modal.style.display = "none";}
        window.onclick = function (event) { if (event.target == modal) { modal.style.display = "none";}}
    </script>
</body >
</html >
