#grid{
	border: 1px solid black;
	background-size: 100%;
	position: relative;
	display: inline-block;
	 cursor: cell;
}

html {
  scroll-behavior: smooth;
}

 header {
  padding: 154px 0 100px;
}

 @media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}
 section {
  padding: 150px 0;
}

#sketch-holder{
	text-align: center;
	padding-right: 2%;
	padding-left: 1%;
	align-self: center
	
}

.form-section{
	text-align: center;
	padding-right: 5%;
}

.colors-box{
	border: 1px solid black !important;
}



.mouse-sizes{
    align-self: flex-start;
    padding-left: 10%;
}

label[for=option1]{
	background-color: rgb(0, 0, 0);
}

label[for=option2]{
	background-color:  rgb(0, 255, 0);
}

label[for=option3]{
	background-color: rgb(255, 0, 0);
}

label[for=option4]{
	background-color: rgb(0,0,255);
}

label[for=option5]{
	background-color: rgb(142,68,173);
}

label[for=option6]{
	background-color: rgb(230,126,34);
}

label[for=option7]{
	background-color: rgb(255,255,0);
}

label[for=option8]{
	background-color: rgb(52, 231, 228);
}

label[for=option9]{
	background-color: rgb(255, 255, 255);
}

label[for=option1]{
	background-color: rgb(0, 0, 0);
}

#sketch-box{
	 display: flex;
	 overflow: auto;
	 flex-shrink: 0;
}

body{
	background-image: linear-gradient(to top, rgba(0, 168, 255,.25), rgba(64, 115, 158,.85));
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav-index{
	background-color: rgba(47, 54, 64,1.0);
}

.header-blue{
	background-color: rgba(74,0,101);
}

.header-feat{
	background-color: #77C9D4;
}

.header-marine{
	background-color: #57BC90;
}

.header-forest{
	background-color: #015249;
}

.header-grey{
	background-color: #A5A5AF;
}

.header-lav{
	background-color: #6C648B;
}

.header-storm{
	background-color: #494E6B;
}

.header-evening{
	background-color: #192231;
}





.header-bluemoon{
	background-color: #5f96c9;
}

.header-lightmoon{
	background-color: #baffec;
}

.header-greymoon{
	background-color: #3c3c3c;
}
.header-black{
	background-color: #000000;
}





.header-blue1{
	background-color: #71c7ec;
}

.header-blue2{
	background-color: #189ad3;
}

.header-blue3{
	background-color: #107dac;
}

.header-blue4{
	background-color: #005073;
}

.header-sunshine{

	background: linear-gradient(57deg, #170450, #25087b, #360cb1, #313da8, #336ec2, #4b93db, #3dcae2, #77d1fc, #cfe435, #dbf70c, #0cf1f7, #11d3d8, #336deb, #1f1fcb, #170450);
background-size: 110% 100%;

-webkit-animation: AnimationName 28s ease infinite;
-moz-animation: AnimationName 28s ease infinite;
animation: AnimationName 28s ease infinite;

@-webkit-keyframes header-sunshine {
    0%{background-position:0% 43%}
    50%{background-position:100% 58%}
    100%{background-position:0% 43%}
}
@-moz-keyframes header-sunshine {
    0%{background-position:0% 43%}
    50%{background-position:100% 58%}
    100%{background-position:0% 43%}
}
@keyframes header-sunshine { 
    0%{background-position:0% 43%}
    50%{background-position:100% 58%}
    100%{background-position:0% 43%}
}

}

.header-gr1 {

background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);


}
.card-container-custom{
	background-color: #f5f6fa; 
	border-bottom-left-radius: 3%;
	border-bottom-right-radius: 3%;
	padding-top: 3%;
	padding-bottom: 2%;

}

.passwords-header-h5{
	margin: 0 !important;
}

.nav-custom{
}


#website-card-deck{
	margin-left: 0 !important;
	margin-right: 0 !important;
}



.edit-button{
	position: absolute;
	bottom: 2%;
	right: 3%;
}

.delete-button{
	position: absolute;
	bottom: 3%;
	right: 3%;
}

.copy-username-button{
	position: absolute;
	bottom: 2%;
	right: 20%;
}

.copy-password-button{
	position: absolute;
	bottom: 2%;
	right: 35%;
}


.flex-container {
  display: flex;
  flex-direction: column;
}

a.pill{
    background-color: rgba(16, 125, 172, 1); 
    color:white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 60px;
    padding: 10px 30px;
    font-size: 17px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

a.pill:hover, a.pill:visited, a.pill:link, a.pill:active
{
    text-decoration: none;
}

a.pill:hover {
    box-shadow: 0px 15px 20px rgba(0, 80, 115, .4);
    transform: translateY(-5%);
     transform: translateX(.05%);
    background-color: rgba(16, 125, 172, 1); 
    
    color:white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  
    font-size: 17px;
}

.btnsizer{
	min-width: 85%;
	max-width: 85%;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 80%;
	height: 25px;
	border-radius: 5px;
	background: #cccccc;
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
	height: 25px;
	border-radius: 10%;
    background: #008fe8;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
	height: 25px;
	border-radius: 10%;
    background: #008fe8;
    cursor: pointer;
}