{% extends "mainApp/header.html" %}

{% block content %}
{% include "mainApp/includes/drawingbox.html" %}
{% include "mainApp/includes/messages.html" %}

<!-- Index --->
    
    <!-- Navigation -->

    <header class="header-gr1 text-white " id="page-top" style="padding-bottom: 20%;">
      <div class="container text-center" >
        <img style="width: 100%; height: 100%;" src="../../static/img/logo.svg" alt="Sketchpass">
        <p class=" lead">Better Safe Than Sorry</p>
        
        <a href="#about" class="pill">Learn More!</a>
        
      </div>
       <!-- <h1 style=font-size:85px> Sketchpass</h1> --->
    </header>
 
    {% block javascript %}
      <script>
        AOS.init();
      </script>
    {% endblock %}

    <section id="about" class="header-blue2 text-white" style="padding-bottom: 21%;" >
     
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div data-aos="fade-right"
               data-aos-offset="150"
               data-aos-easing="ease-in-sine">
              <h1 class="">About us</h1>
              <p class="lead">
                We believe that the best defense is a strong password. The problem is: the strongest passwords consist of large combinations of numbers, uppercase letters, lowercase letters, and if possible, special characters (e.g., %, #, ^, &, @). All these shared factors eventually give way a more random string that is nearly impossible to memorize and effectively use. The Sketchpass sidesteps all of these problems by allowing you to generate complex passwords that are only accessible through your sketch-based password; A uniquely strong password that can be drawn through various colors and patterns only easily remembered by you.
              </p>
          </div>
        </div>
      </div>
    </div>
    </section>

    <section id="security" class="header-blue3 text-white">
      <div data-aos="flip-up">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2>Have you been compromised?</h2>
              <p class="lead">Benjamin Franklin, one of America’s founding fathers once stated: “By failing to prepare, you are preparing to fail”. The idea being that, preparation is a crucial element for any scenario is pertinent when applying a safeguarded password to avoid a costly mistake. Compromised user credentials can be expensive and time consuming to recover from. It is best to prepare for the worst and to be better safe than sorry. More often than not cyber criminals have a malicious intent when attempting a breach into your personal data. Password compromises can have several sever repercussions that include, but are not limited to:
              </p>
              <ul>
                <li>Identity Theft</li>
                <li>Credit Fraud</li>
                <li>Personal Information Revealed</li>
                <li>Tax Fraud</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="contact" class="header-blue4 text-white" style="padding-bottom: 15%;">
      <div data-aos="zoom-in-left">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2>Join Us Today!</h2>
              <p class="lead">The state at which passwords are being stored and made is in dire need for improvement. The world is only getting smaller due to connectivity and the rate at which cybercrime is advancing is only escalating. You must ensure your first line of defense isn't "12345678" or "password123". Help us raise the bar & join us today for a better, more secure tomorrow. </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Sketchpass 2018</p>
      </div>
      <!-- /.container -->
    </footer>













{% endblock %}