{% extends "mainApp/header.html" %}

{% block content %}
{% include "mainApp/includes/drawingbox.html" %}

<!-- Index --->

    <!-- Navigation -->

    <header class="header-lav text-white">
      <div class="container text-center">
        <div class="imagehold">

        <img src="../../static/img/banner1.png" alt="splatter" style="width:100%;">

        <div class="centered"><img src="../../static/img/logo.svg" alt="logo">
        <p class="lead">Better Safe Than Sorry</p>
        </div>
       <!-- <h1 style=font-size:85px> Sketchpass</h1> --->
        
      </div>
    </div>
    </header>
    <section id="about" class="header-evening text-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>About us</h2>
            <p class="lead">Your password is your first line of defense against the vast frontier of the internet. When your line of defense isn't strong or well protected enough you leave yourself vulnerable to a sea of trouble when surfing the web. The Sketchpass can be your life jacket that keeps you from going under, with the help of a complex sketch based password to safe guard all of your important passwords. Every user makes their own unique color grid combination for maximum security. Users can also generate complex passwords using the built in password generator to never have a weak password again.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="services" class="header-forest text-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Have you been compromised?</h2>
            <p class="lead">Benny Franklin, one of our wise founding fathers once stated: "By failing to prepare, you are preparing to fail". This still applies today, when failing to secure and fortify your passwords, you are preparing yourself for what could be a costly mistake. Compromised user credentials can be expensive and time consuming to recover from. It is best to prepare for the worst and to be better safe than sorry. More often than not cyber criminals have a malicious intent when attempting to execute a break in to your personal data. Password compromises can have several repercussions that include, but are not limited to: 
            </p>
            <ul>
              <li>Identity Theft</li>
              <li>Credit Fraud</li>
              <li>Personal Information Revealed</li>
              <li>Tax Fraud</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section id="contact" class="header-storm text-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Join Us Today!</h2>
            <p class="lead">The state at which passwords are being stored and made is a poor one. The world is only getting smaller due to connectivity and the rate at which cyber crime is advancing is only getting bigger. You must ensure your first line of defense isn't "12345678" or "password123". Help us raise the bar & join us today for a better tomorrow.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Sketchpass 2018</p>
      </div>
      <!-- /.container -->
    </footer>













{% endblock %}