<div class ="">
  <div class="col-md-6 col-lg-4 col-xl-3">
    <div class="card text-white bg-dark mb-4 text-center" style="width: 14rem;">
      
      <div class="card-body">
        <h5 class="card-title"> {{ name|slice:":12" }}{%if name|length > 12 %}...{% endif %}</h5>
        <h6 class="card-subtitle mb-2 text-muted"> {{ category }}</h6>
        <p class="card-text">{{ desc|slice:":15" }}{%if desc|length > 15 %}...{% endif %}
        </p>
        <a href="http://{{ url }}" class="card-link">{{ url|slice:":15" }}{%if url|length > 15 %}...{% endif %}</a>
        <hr>
      </div>
      <form method="POST" action="{% url 'edit_website' %}">
        {% csrf_token %}
        <button class = "btn btn-sm edit-button" type="submit" value="{{ website_id }}" style="text-align: center center" name="edit-form">
          <i class="fas fa-edit" ></i>
        </button>
      </form>
      {%block javascript%}
        <script>
          function copyToClipboard(text) {
            //Need to create dummy div to use select function
            var dummy = $('<input>').val(text).appendTo('body').select()
            dummy.hide();
            document.execCommand("copy");
          }
        </script>
      {% endblock %}
      <form id="copy-form" name="copy-form" method="POST" action="">
        {% csrf_token %}
        <button class = "btn btn-sm copy-password-button" type="submit" value="Successfully Copied Password!" style="text-align: center center" name="copy-password"  onclick="copyToClipboard('{{ website.password }}')">
          <i class="fas fa-unlock-alt"></i>
        </button>
        <button class = "btn btn-sm copy-username-button" type="submit" value="Successfully Copied Username!" style="text-align: center center" name="copy-username" onclick="copyToClipboard('{{ website.username }}')">
          <i class="fas fa-user"></i>
        </button>
      </form>
    </div>
  </div>

</div>
